<h1>My Dinner</h1>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Meal
        </th>

        <th>
          Food Group
        </th>

        <th>
          Number of Portions
        </th>

        <th>
          Food Item
        </th>

        <th>
          
        </th>

      </tr>

      <% @list_of_diets.each do |a_diet| %>

      <form action="/insert_meal" method="post">
        <input type="hidden" value ="Dinner" id="meal_name_box" name="query_meal_name" class="form-control">
        <input type="hidden" value =" <%= a_diet.food_group_name %>" id="food_group_name_box" name="query_food_group_name" class="form-control">
        <input type="hidden" value ="<%= a_diet.portions %>" id="portions_box" name="query_portions" class="form-control">

      <tr>

        <td>
          Dinner
        </td>
     
       <td>
          <%= a_diet.food_group_name %>
        </td>

        <td>
          <%= a_diet.portions %>
        </td>

        <td>
          <label for="query_food_item_name"></label>

            <select name="query_food_item_name" id="food_item_name_box">
            <% Fooditem.where(:food_group_name => a_diet.food_group_name).each do |a_food_item| %>
              <option value="<%= a_food_item.food_item_name%>"><%= a_food_item.food_item_name%> - <%= a_food_item.portion_size%>
              </option>
            <% end %>
            </select>
        </td>

               
        <td>
          <button>
            Record meal log
          </button>
        </td>
       </form>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<p></p>

<hr>