<div>
  <div>
    <h1>
      Diet #<%= @the_diet.id %> details
    </h1>

    <div>
      <div>
        <a href="/diets">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_diet/<%= @the_diet.id %>">
          Delete diet
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_diet.user_id %>
      </dd>

      <dt>
        Food group
      </dt>
      <dd>
        <%= @the_diet.food_group_id %>
      </dd>

      <dt>
        Portions
      </dt>
      <dd>
        <%= @the_diet.portions %>
      </dd>

      <dt>
        Meal name
      </dt>
      <dd>
        <%= @the_diet.meal_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_diet.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_diet.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit diet
    </h2>

    <form action="/modify_diet/<%= @the_diet.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_diet.user_id %>">
      </div>

      <div>
        <label for="food_group_id_box">
          Food group
        </label>

        <input type="text" id="food_group_id_box" name="query_food_group_id" value="<%= @the_diet.food_group_id %>">
      </div>

      <div>
        <label for="portions_box">
          Portions
        </label>

        <input type="text" id="portions_box" name="query_portions" value="<%= @the_diet.portions %>">
      </div>

      <div>
        <label for="meal_name_box">
          Meal name
        </label>

        <input type="text" id="meal_name_box" name="query_meal_name" value="<%= @the_diet.meal_name %>">
      </div>

      <button>
        Update diet
      </button>
    </form>
  </div>
</div>

<hr>
