<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <style>
      .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
      }

       .notice {
        padding: 20px;
        background-color: #4CAF50;
        color: white;
      }

      .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
      }

      .closebtn:hover {
        color: black;
      }

    </style>

  </head>

    <nav>
        <ul>
          <%if @current_user == nil %>
              <li><a href="/user_sign_up">Sign Up</a></li>
              <li> <a href="/">Sign In</a></li>
          <% else %>
              <li><a href="/user_sign_out">Sign Out</a></li>
              <li><a href="/my_diet">Diet Plan</a></li>
              <li><a href="/meals">Meal History</a></li>
              <li><a href="/breakfast">Breaksfast</a></li>
          <% end %>
              <li><a href="/fooditems">List of Foods</a></li>
        </ul>
    </nav>

    <% if alert.present?%>
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= alert%>
      </div>
    <% end %>

    <% if notice.present?%>
      <div class="notice">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= notice %>
      </div>
    <% end %>

  <body>
    <%= yield %>
  </body>
</html>
